* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: black;
  height: 38px;
  border-top: 2px solid rgb(211, 123, 0);
  display: flex;
  font-size: 3px;
}
#button-one {
  color: aliceblue;
  background-color: rgb(131, 85, 0);
  width: 64px;
  height: 20px;
  border: 1px solid rgb(131, 85, 0);
  border-radius: 4px;
  font-size: 7px;
  margin: 6px 0px 4px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search {
  margin: 8px 0px 4px 8px;
}
.link {
  color: aliceblue;
  display: flex;
  font-size: 5px;
  margin: 10px 28px 0px 0px;
}
.p-one {
  padding-top: 3px;
  padding-left: 290px;
  font-size: 6.5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.p-two,
.p-three,
.p-fore,
.p-five {
  padding-top: 3px;
  padding-left: 20px;
  font-size: 6.5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: rgb(0, 0, 0);
}
.searchbox,
.divsearch1 {
  display: flex;
}
#job {
  color: aliceblue;
  background-color: rgb(26, 26, 26);
  border: 0.5px solid aliceblue;
  border-radius: 4px;
  font-size: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 120px;
  height: 18px;
  margin: 10px 0px 0 8px;
}
#top {
  color: aliceblue;
  background-color: rgb(0, 0, 0);
  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 4px;
  font-size: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 60px;
  height: 14px;
  margin-left: 14px;
}
.divsearch2 {
  display: flex;
  margin: 0 0 0 196px;
}
#searchbutton {
  color: aliceblue;
  background-color: rgb(211, 123, 0);
  border-radius: 3px;
  border: 1px solid rgb(211, 123, 0);
  height: 18px;
  width: 40px;

  font-size: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#serachcelebritty {
  color: rgb(143, 145, 147);
  background-color: rgb(45, 43, 43);
  width: 180px;
  height: 18px;
  margin: 8px 0 0 0px;
  border: 1px solid rgb(45, 43, 43);
  border-radius: 3px;
  font-size: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#but {
  color: aliceblue;
  background-color: rgb(211, 123, 0);
  border: 1px solid rgb(211, 123, 0);
  border-radius: 3px;
  height: 18px;
  font-size: 8px;
  margin-top: 8.5px;
  margin-left: 70px;
}
#c {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 200px;
  text-align: center;
  grid-gap: 9px;
  padding: 15px 8px 10px 8px;
}

#one,
#two,
#three,
#fore,
#five,
#six,
#seven,
#eight,
#nine,
#ten,
#eleven,
#twelve,
#thirteen,
#fourteen,
#fifteen,
#sixteen,
#seventeen,
#eighteen,
#nineteen,
#twenty,
#twenty-one {
  display: grid;
  grid-template-columns: 85px;
  color: aliceblue;
  background-color: rgb(20, 25, 31);
  border: 1px solid rgb(20, 25, 31);
  border-radius: 5px;
  justify-items: center;
  align-items: center;
  font-size: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 3px 4px 6px 6px;
}
#b {
  color: aliceblue;
  background-color: rgb(211, 123, 0);
  height: 20px;
  width: 90px;
  border: 1px solid rgb(211, 123, 0);
  border-radius: 5px;
  font-size: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.slid {
  display: flex;
  color: aliceblue;
  margin: 10px 0 35px 0;
  margin-left: 10px;
}
#slidone {
  background-color: rgb(211, 123, 0);
  border: 1px solid rgb(211, 123, 0);
  color: aliceblue;
  border-radius: 7px;
  width: 20px;
  font-size: 6px;
  margin-left: 270px;
  align-items: center;
}
#slidtwo,
#slidthree,
#slidfour,
#slidfive,
#slidsix {
  color: aliceblue;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 7px;
  width: 20px;
  height: 22px;
  font-size: 6px;
  margin-left: 3px;
  align-items: center;
}
#slidseven,
#slideight {
  font-size: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 7px 0 0 15px;
}
